<?xml version="1.0" encoding="utf-8"?>
<cereal>
	<value0>
		<_screenWidth>1280</_screenWidth>
		<_screenHeight>720</_screenHeight>
		<_windowWidth>1280</_windowWidth>
		<_windowHeight>720</_windowHeight>
		<_shadowMapSize>256</_shadowMapSize>
		<_screenMode>0</_screenMode>
		<_showMouseCursor>true</_showMouseCursor>
		<_nearClip>0.1</_nearClip>
		<_farClip>1000</_farClip>
		<_fov>1.5707900524139404</_fov>
		<_antialiasing>true</_antialiasing>
		<_volume>100</_volume>
		<_brightness>5</_brightness>
	</value0>
</cereal>

